.App {
  text-align: center;
}

/* Header --- start */
.header-app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 8px;
  width: 100%;
  height: 58px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  position: fixed;
  top:0;
  right: 0;
  background-color: white;
  z-index: 10;
  /*box-shadow: rgba(0, 0, 0, 0.16) 0 2px 0;*/
}

.header-app-content-lr {
  display: flex;
  align-items: center;
  width: 40px;
  height: 100%;
  padding-right: 10px;
}

.header-app-icon {
  width: 20px;
  height: 20px;
}

.header-app-logo {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.sub-header-app-logo {
  height: 70%;
}
/* Header --- end */


/* footer --- start*/
.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: rgb(5, 31, 77);
  padding: 20px;
}

.item-footer {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.text-footer {
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.container-footer__desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  background-color: rgb(5, 31, 77);
  padding: 10px;
}
/* footer --- end*/