.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header-app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  height: 58px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header-app-content-lr {
  display: flex;
  align-items: center;
  width: 40px;
  height: 100%,
}

.header-app-icon {
  width: 30px;
  height: 30px;
}

.header-app-logo {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.sub-header-app-logo {
  height: 70%;
}

.container-products {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
}

.scrollmenu {
  display: flex;
  align-items: center;
  background-color: #eee;
  overflow-x: scroll;
}

.iteamcard {
  flex: none;
  width: calc(40vw - 4px);
  margin-right: 4px;
  padding-left: 15px;
  padding-right: 15px;
}